@using ZenithDataLib.Models
@model IEnumerable<ZenithDataLib.Models.Activity>

@{
    ViewBag.Title = "Home Page";
    var currentDate = "";
}

<div class="jumbotron">
    <h1>Zenith Society</h1>
    <p class="lead">These are the Activities happening this week.</p>
</div>

<table class="table">
    <!--
    <tr>
        <th colspan="2">
            Date
        </th>
    </tr>
    -->


@foreach (var item in Model) {
    foreach (var element in item.Events) {
        if (currentDate == "") {
            currentDate = String.Format(ViewBag.DateFormat, element.EventFrom);
            <tr>
                <th colspan="2">
                    @String.Format(ViewBag.DateFormat, element.EventFrom)
                </th>
            </tr>
        }

        if (currentDate != String.Format(ViewBag.DateFormat, element.EventFrom)) {
            currentDate = String.Format(ViewBag.DateFormat, element.EventFrom);
            <tr>
                <th colspan="2">
                    @String.Format(ViewBag.DateFormat, element.EventFrom)
                </th>
            </tr>
        }
        <tr>
            <td>
                @String.Format(ViewBag.TimeFormat, element.EventFrom) - @String.Format(ViewBag.TimeFormat, element.EventTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }
}




</table>
